<html>
<head>
  <link type="text/css" rel="stylesheet" media="all" href="/site_media/static/styles/h5p.css" />
  <meta charset="utf-8" />
  <script type="text/javascript" src="/site_media/static/js/h5p-standalone-main.min.js"></script>

  <script type="text/javascript">
    (function($) {
      $(function() {
        $('.h5p-container').h5p({
          frameJs: '/site_media/static/js/h5p-standalone-frame.min.js',
          frameCss: '/site_media/static/styles/h5p.css',
    h5pContent: '/site_media/media/workspace'
        });
      });
    })(H5P.jQuery);
  </script>
</head>
  <body>
    <div class="h5p-container"></div>
  </body>
</html>
