{% extends "site_base.html" %}
{% load bootstrap_tags %}
{% block body %}
<h2>{{organization.name}} Learners</h2>
<p><a href="{% url "admin_org_view" organization.id %}">Back to Organization Details</a></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for learner in learners %}
    <tr>
      <td>{{learner.user.first_name}} {{learner.user.last_name}}</td>
      <td>{{learner.user.email}}</td>
      <td><a href="{% url "admin_course_learner_status_list" learner.id %}">Course Status</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
